<app-loader *ngIf="isLoading"></app-loader>

<div class="flex flex-col w-full h-full gap-y-4">
  <app-custom-input
    [control]="searchInput"
    type="search"
    id="search-landmarks"
    placeholder="Search landmark(s)..."
    class="w-full"
    [required]="false"
  ></app-custom-input>

  <div
    *ngIf="!isLoading"
    class="grid grid-cols-1 xl:grid-cols-2 2xl:grid-cols-3 gap-4 w-full"
  >
    <div
      *ngFor="let landmark of landmarks"
      class="bg-white shadow-xl rounded-lg flex flex-col sm:flex-row w-full h-full lg:h-[22rem]"
    >
      <div
        class="w-full sm:w-[16rem] h-52 sm:h-full hover:opacity-50 transition-opacity ease-in-out duration-500"
      >
        <img
          [src]="landmark.attributes.photo_thumb"
          [alt]="landmark.attributes.title"
          class="object-cover w-full h-full rounded-lg"
          loading="lazy"
        />
      </div>
      <div class="w-full flex flex-col p-4">
        <a [routerLink]="['landmark', landmark.attributes.title]">
          <h2 class="text-2xl font-bold mb-2">
            {{ landmark.attributes.title }}
          </h2>
        </a>
        <p class="text-gray-600 overflow-y-auto">
          {{ landmark.attributes.short_info }}
        </p>
      </div>
    </div>
  </div>

  <app-error-message [error]="error"></app-error-message>
</div>
