<div class="flex flex-col w-full h-full gap-y-4">
  <div class="flex items-center w-full max-w-[35rem] mx-auto">
    <input
      [formControl]="searchInput"
      type="search"
      id="search-landmarks"
      class="w-full p-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-amber-500 focus:border-amber-500 focus:outline-none"
      placeholder="Search landmark(s)..."
      required
    />
  </div>
  <div class="grid grid-cols-1 xl:grid-cols-2 2xl:grid-cols-3 gap-4 w-full">
    <div
      *ngFor="let landmark of landmarks"
      class="bg-white shadow-xl rounded-lg flex flex-col sm:flex-row w-full h-full lg:h-[22rem]"
    >
      <div
        class="w-full sm:w-[16rem] h-full cursor-pointer hover:opacity-50 transition-opacity ease-in-out duration-500"
        (click)="openImageModal(landmark)"
      >
        <img
          [src]="landmark.attributes.photo_thumb"
          [alt]="landmark.attributes.title"
          class="object-cover w-full h-full rounded-lg"
          loading="lazy"
        />
      </div>
      <div class="w-full flex flex-col justify-between p-4">
        <a [routerLink]="['landmark', landmark.attributes.title]">
          <h2 class="text-2xl font-bold mb-2">
            {{ landmark.attributes.title }}
          </h2>
        </a>
        <p class="text-gray-600 overflow-y-auto">
          {{ landmark.attributes.short_info }}
        </p>
      </div>
    </div>
  </div>

  <div
    class="fixed inset-0 z-[1] flex items-center justify-center"
    *ngIf="!!selectedLandmark"
  >
    <div class="bg-white p-4 rounded-lg shadow-lg z-[2]">
      <img
        [src]="selectedLandmark.attributes.photo"
        [alt]="selectedLandmark.attributes.title"
        class="object-contain h-[80vh] max-w-full"
        loading="lazy"
      />
    </div>
    <div
      class="fixed inset-0 bg-black opacity-50"
      (click)="closeImageModal()"
    ></div>
  </div>
</div>
