<app-loader *ngIf="isLoading"></app-loader>

<div *ngIf="!isLoading" class="w-full flex flex-col gap-y-5">
  <div
    *ngIf="landmark && !isEditMode"
    class="flex flex-col w-full h-full gap-y-12"
  >
    <div class="flex flex-col gap-y-2 xl:flex-row xl:gap-y-0 w-full h-full">
      <div
        class="group relative w-full sm:w-[18rem] lg:w-[22rem] h-full mx-auto xlg:m-0 cursor-pointer"
        (click)="togglePhotoPopup()"
      >
        <img
          [src]="landmark.attributes.photo_thumb"
          [alt]="landmark.attributes.title"
          class="object-cover w-full rounded-lg group-hover:opacity-50 transition-opacity ease-in-out duration-500"
          loading="lazy"
        />

        <div class="hidden group-hover:block absolute right-0 -top-2 z-[1]">
          <button
            class="flex items-center justify-center rounded-full bg-amber-500 p-2"
            (click)="fileInput.click()"
          >
            <input
              #fileInput
              class="hidden"
              type="file"
              accept="image/*"
              (change)="onPhotoChange($event)"
            />
            <app-edit-icon class="text-white"></app-edit-icon>
          </button>
        </div>
      </div>
      <div class="w-full xl:w-[calc(100%-22rem)] flex flex-col px-4 gap-y-5">
        <div class="flex flex-col">
          <div class="flex items-center justify-between">
            <h2 class="text-2xl font-bold mb-[0.25rem]">
              {{ landmark.attributes.title }}
            </h2>
            <button (click)="toggleEditMode()">
              <app-edit-icon></app-edit-icon>
            </button>
          </div>
          <a
            class="w-fit text-sm text-gray-400 hover:underline"
            [href]="landmark.attributes.url"
            target="_blank"
          >
            <span>Official Link</span>
          </a>
        </div>
        <div class="flex flex-col">
          <span class="text-sm text-gray-400 mb-[0.25rem]">Short info</span>
          <p class="text-gray-600">
            {{ landmark.attributes.short_info }}
          </p>
        </div>

        <div class="flex flex-col">
          <span class="text-sm text-gray-400 mb-[0.25rem]">Description</span>
          <p class="text-gray-600">
            {{ landmark.attributes.description }}
          </p>
        </div>
      </div>
    </div>
    <div class="flex flex-grow">
      <iframe
        class="w-full h-[30rem]"
        [src]="googleMapsSrc"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <div class="flex flex-col w-full h-full items-center" *ngIf="isEditMode">
    <form
      [formGroup]="landmarkForm"
      (keydown.enter)="$event.preventDefault()"
      class="w-full sm:w-auto"
    >
      <div class="flex flex-col gap-y-5">
        <div class="flex flex-col gap-y-1">
          <label for="title">Title</label>
          <app-custom-input
            [control]="landmarkForm.get('title')"
            id="title"
            placeholder="Title..."
            class="w-full"
          ></app-custom-input>
        </div>

        <div class="flex flex-col gap-y-1">
          <label for="short_info">Short Info</label>
          <textarea
            class="w-full p-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-amber-500 focus:border-amber-500 focus:outline-none"
            id="short_info"
            formControlName="short_info"
            placeholder="Short info..."
            rows="10"
          ></textarea>
        </div>

        <div class="flex flex-col gap-y-1">
          <label for="description">Description</label>
          <textarea
            class="w-full p-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-amber-500 focus:border-amber-500 focus:outline-none"
            id="description"
            formControlName="description"
            placeholder="Description..."
            rows="20"
          ></textarea>
        </div>

        <div class="flex items-center gap-x-3">
          <button
            (click)="toggleEditMode()"
            class="bg-amber-500 py-2 px-4 rounded-lg w-[10rem] text-white hover:bg-amber-600 transition-bg duration-500 disabled:pointer-events-none disabled:opacity-50"
          >
            Cancel
          </button>
          <button
            (click)="onLandmarkUpdate()"
            [disabled]="updateButtonDisabled"
            class="bg-amber-500 py-2 px-4 rounded-lg w-[10rem] text-white hover:bg-amber-600 transition-bg duration-500 disabled:pointer-events-none disabled:opacity-50"
          >
            Save
          </button>
        </div>
      </div>
    </form>
  </div>

  <app-error-message [error]="error" [scrollTo]="true"></app-error-message>
</div>

<div
  class="photo-popup fixed inset-0 z-[1] flex items-center justify-center"
  *ngIf="showPhotoPopup && !!landmark"
>
  <div class="bg-white p-4 rounded-lg shadow-lg z-[2]">
    <img
      [src]="landmark.attributes.photo"
      [alt]="landmark.attributes.title"
      class="object-contain max-h-[80vh] max-w-full"
      loading="lazy"
    />
  </div>
  <div
    class="fixed inset-0 bg-black opacity-50"
    (click)="togglePhotoPopup()"
  ></div>
</div>
