<div class="flex flex-col justify-center items-center gap-y-5">
  <app-custom-input
    [control]="usernameControl"
    id="username"
    placeholder="Username..."
    class="w-full"
  ></app-custom-input>

  <app-custom-input
    [control]="passwordControl"
    type="password"
    id="password"
    placeholder="Password..."
    class="w-full"
  ></app-custom-input>

  <button
    [disabled]="loginButtonDisabled"
    (click)="loginUser()"
    class="bg-amber-500 p-4 rounded-lg w-[10rem] text-white hover:bg-amber-600 transition-bg duration-500 disabled:pointer-events-none disabled:opacity-50"
  >
    Login
  </button>

  <app-error-message [error]="error"></app-error-message>
</div>
